
.header-component {
  display: flex;
  justify-content: space-around;

}

.header-links {
  display: flex;
  width: 25vw;
  align-items: center;
  justify-content: space-around;
}



.home-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.profile-photo {
  border-radius: 50%;
  width: 200px;
}




.work-component {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.work-component h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}


.work-and-projects {
  display: flex;
  flex-wrap: wrap;
}


.apple-logo {
  width: 350px;
  height: 350px;
}





.connect-component{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.connect-links{
  display: flex;
  width: 25vw;
  align-items: center;
  justify-content: space-around;
}